#Cadence-specific
*/INCA_libs
*/screenshots
*/waves.shm
/.simvision
*.log
*.key
hal*

#Quartus
*.bak
*.txt
*.qpf
*.qsf
*.qws
*.rpt
*/incremental_db
*/output_files
*/db

#Modelsim
*/work
*.mti
*.mpf
*/simulation/
*.do
*.vstf
*.wlf